.header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #eee;
}

.item {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.85rem;
  border-left: 1px solid transparent;
}

.monthItem {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex: 1.4;
}

.monthItem::after {
  content: " ";
  display: block;
  width: 10px;
  height: 100%;
  float: right;
}

.monthText {
  font-size: 1.5rem;
  margin-right: 10px;
}

.day {
  font-size: 0.7rem;
}
