.calendar {
  margin: 0;
  padding: 0;
  height: 100%;
}

.header {
  margin: 0;
  padding: 0;
  position: relative;
}

.body {
  margin: 0;
  padding: 0;
  position: relative;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #eee;
}

.col {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  border-right: 1px solid transparent;
  height: 60px;
}

.cell {
  border-right: 1px solid #eee;
  font-size: 0.85rem;
  display: block;
  text-align: right;
  height: 100px;
}

.cell::after {
  content: " ";
  display: block;
  width: 10px;
  height: 100%;
  float: right;
}

.cell:last-of-type {
  border-right: 1px solid transparent;
}

.currentDay {
  color: #3498db;
}

.background {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  color: rgba(238, 238, 238, 0.6);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

.disabled {
  color: #ccc;
}
